In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
rfm_data = pd.read_csv('../../data/rfm_firstmodel.csv')

rfm_data.head()

   Customer_ID  Frequency  MonetaryValue  Recency
0        12346          1           3.25      647
1        12347          8        3866.34        2
2        12348          5        1658.40       75
3        12349          3        2174.17       19
4        12350          1         258.00      310