In [297]:
import pandas as pd

In [298]:
# # Charger le fichier Excel
# xls = pd.ExcelFile('../../data/data.xlsx')

# # Charger les données de l'année 2009-2010
# df_2009_2010 = pd.read_excel(xls, 'Year 2009-2010')
# df_2009_2010.to_csv('../../data/df_2009_2010.csv', index=False)

# # Charger les données de l'année 2010-2011
# df_2010_2011 = pd.read_excel(xls, 'Year 2010-2011')
# df_2010_2011.to_csv('../../data/df_2010_2011.csv', index=False)

In [299]:
df_2009_2010 = pd.read_csv('../../data/df_2009_2010.csv')
df_2010_2011 = pd.read_csv('../../data/df_2010_2011.csv')

df_concat = pd.concat([df_2009_2010, df_2010_2011], ignore_index=True)

In [300]:
df_concat

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [301]:
df_concat.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [302]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [303]:
df_concat.isnull().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [304]:
# montre moi les lignes nulles pour la colonne description
df_null_customer = df_concat[df_concat['Customer ID'].isnull()]
# regarde quand le description et le customer est null
df_null_customer_description = df_null_customer[df_null_customer['Description'].isnull()]
# montre moi toute les valeurs dans le price
df_null_customer_description['Price'].value_counts()

0.0    4382
Name: Price, dtype: int64

In [305]:
# montre le df_null_customer_description ou le pays est l'united kingdom
df_null_customer_description[df_null_customer_description['Country'] == 'United Kingdom']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.0,NaN,United Kingdom
3114,489655,20683,NaN,-44,2009-12-01 17:26:00,0.0,NaN,United Kingdom
3161,489659,21350,NaN,230,2009-12-01 17:39:00,0.0,NaN,United Kingdom
3731,489781,84292,NaN,17,2009-12-02 11:45:00,0.0,NaN,United Kingdom
4296,489806,18010,NaN,-770,2009-12-02 12:42:00,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
1060783,581199,84581,NaN,-2,2011-12-07 18:26:00,0.0,NaN,United Kingdom
1060787,581203,23406,NaN,15,2011-12-07 18:31:00,0.0,NaN,United Kingdom
1060793,581209,21620,NaN,6,2011-12-07 18:35:00,0.0,NaN,United Kingdom
1062442,581234,72817,NaN,27,2011-12-08 10:33:00,0.0,NaN,United Kingdom
1064015,581408,85175,NaN,20,2011-12-08 14:06:00,0.0,NaN,United Kingdom

In [306]:
# Supprimer les lignes où 'Description' et 'Customer ID' sont tous les deux nuls
df_clean = df_concat.dropna(subset=['Description', 'Customer ID'], how='all')
df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [307]:
# combien null customer id
df_clean['Customer ID'].isnull().sum()

238625

In [308]:
# montre le df clean tous les description null
df__customer_id_null = df_clean[df_clean['Customer ID'].isnull()]
df__customer_id_null.head(30)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
263,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.00,NaN,United Kingdom
283,489463,71477,short,-240,2009-12-01 10:52:00,0.00,NaN,United Kingdom
284,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.00,NaN,United Kingdom
577,489525,85226C,BLUE PULL BACK RACING CAR,1,2009-12-01 11:49:00,0.55,NaN,United Kingdom
578,489525,85227,SET/6 3D KIT CARDS FOR KIDS,1,2009-12-01 11:49:00,0.85,NaN,United Kingdom
1055,489548,22271,FELTCRAFT DOLL ROSIE,1,2009-12-01 12:32:00,2.95,NaN,United Kingdom
1056,489548,22254,FELT TOADSTOOL LARGE,12,2009-12-01 12:32:00,1.25,NaN,United Kingdom
1057,489548,22273,FELTCRAFT DOLL MOLLY,3,2009-12-01 12:32:00,2.95,NaN,United Kingdom
1058,489548,22195,LARGE HEART MEASURING SPOONS,1,2009-12-01 12:32:00,1.65,NaN,United Kingdom
1059,489548,22131,FOOD CONTAINER SET 3 LOVE HEART,2,2009-12-01 12:32:00,1.95,NaN,United Kingdom
1060,489548,22079,RIBBON REEL HEARTS DESIGN,10,2009-12-01 12:32:00,1.65,NaN,United Kingdom
1061,489548,22138,BAKING SET 9 PIECE RETROSPOT,3,2009-12-01 12:32:00,4.95,NaN,United Kingdom
1062,489548,22147,FELTCRAFT BUTTERFLY HEARTS,2,2009-12-01 12:32:00,1.45,NaN,United Kingdom
1063,489548,22142,CHRISTMAS CRAFT WHITE FAIRY,2,2009-12-01 12:32:00,1.45,NaN,United Kingdom
1064,489548,22150,3 STRIPEY MICE FELTCRAFT,2,2009-12-01 12:32:00,1.95,NaN,United Kingdom
1065,489548,20804,GLASS CHICKEN BUTTER DISH,1,2009-12-01 12:32:00,1.65,NaN,United Kingdom
1066,489548,22196,SMALL HEART MEASURING SPOONS,8,2009-12-01 12:32:00,0.85,NaN,United Kingdom
1067,489548,22086,PAPER CHAIN KIT 50'S CHRISTMAS,3,2009-12-01 12:32:00,2.95,NaN,United Kingdom
1068,489548,21115,ROSE CARAVAN DOORSTOP,1,2009-12-01 12:32:00,6.75,NaN,United Kingdom
1069,489548,21067,VINTAGE RED TEATIME MUG,6,2009-12-01 12:32:00,1.25,NaN,United Kingdom
1070,489548,22134,LADLE LOVE HEART RED,12,2009-12-01 12:32:00,0.42,NaN,United Kingdom
1071,489548,22132,RED LOVE HEART SHAPE CUP,12,2009-12-01 12:32:00,0.85,NaN,United Kingdom
1072,489548,22196,SMALL HEART MEASURING SPOONS,1,2009-12-01 12:32:00,0.85,NaN,United Kingdom
1073,489548,22196,SMALL HEART MEASURING SPOONS,1,2009-12-01 12:32:00,0.85,NaN,United Kingdom
1074,489548,22195,LARGE HEART MEASURING SPOONS,5,2009-12-01 12:32:00,1.65,NaN,United Kingdom
1075,489548,21086,SET/6 RED SPOTTY PAPER CUPS,25,2009-12-01 12:32:00,0.65,NaN,United Kingdom
1076,489548,20963,APPLE BATH SPONGE,10,2009-12-01 12:32:00,1.25,NaN,United Kingdom
1077,489548,85053,FRENCH ENAMEL CANDLEHOLDER,1,2009-12-01 12:32:00,2.10,NaN,United Kingdom
1078,489548,84670,JAPANESE CROCHETED ANIMAL,12,2009-12-01 12:32:00,0.42,NaN,United Kingdom
1079,489548,21559,STRAWBERRY LUNCHBOX WITH CUTLERY,2,2009-12-01 12:32:00,2.55,NaN,United Kingdom

In [309]:
# enleve moi les lignes ou le customer id est null
df_clean = df_clean.dropna(subset=['Customer ID'])
df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [310]:
# montre valeur null
df_clean.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [311]:
# combien de ligne dont la colonne Invoice commencer par c
df_clean[df_clean['Invoice'].str.startswith('C')].shape[0]

18744

In [312]:
# Supprimer les transactions annulées
df_clean = df_clean[~df_clean['Invoice'].str.startswith('C')]

In [313]:
df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [314]:
# verifie la colonne Invoice qui fait plus de 6 chiffre
df_clean[df_clean['Invoice'].str.len() > 6]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country]
Index: []

In [315]:
# verifie la colonne StockCode  qui fait plus de 5 chiffre on les retires ces lignes
df_clean = df_clean[df_clean['StockCode'].str.len() <= 5]

# verifie la colonne StockCode  qui fait moins de 5 chiffre on les retires ces lignes
df_clean = df_clean[df_clean['StockCode'].str.len() >= 5]

df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [316]:
# verifie si il a pas de chaine de caractere dans la colonne StockCode
df_clean[~df_clean['StockCode'].str.isnumeric()]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country]
Index: []

In [317]:
# remplacer les espaces dans le nom des colonnes par des _ et aussi enlever les espaces en debut et fin de chaine
df_clean.columns = df_clean.columns.str.replace(' ', '_').str.strip()
# remplace les espaces dans les colonnes str par des _ et enleve les espaces en debut et fin de chaine
df_clean['Description'] = df_clean['Description'].str.strip().str.replace(' ', '_')
df_clean['Country'] = df_clean['Country'].str.strip().str.replace(' ', '_')

df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
0,489434,85048,15CM_CHRISTMAS_GLASS_BALL_20_LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United_Kingdom
3,489434,22041,"RECORD_FRAME_7""_SINGLE_SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United_Kingdom
4,489434,21232,STRAWBERRY_CERAMIC_TRINKET_BOX,24,2009-12-01 07:45:00,1.25,13085.0,United_Kingdom
5,489434,22064,PINK_DOUGHNUT_TRINKET_POT,24,2009-12-01 07:45:00,1.65,13085.0,United_Kingdom
6,489434,21871,SAVE_THE_PLANET_MUG,24,2009-12-01 07:45:00,1.25,13085.0,United_Kingdom
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK_OF_20_SPACEBOY_NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
1067366,581587,22899,CHILDREN'S_APRON_DOLLY_GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS_CUTLERY_DOLLY_GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS_CUTLERY_CIRCUS_PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING_SET_9_PIECE_RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [318]:
# description value counts
df_clean['Description'].value_counts()

REGENCY_CAKESTAND_3_TIER         3430
ASSORTED_COLOUR_BIRD_ORNAMENT    2777
REX_CASH+CARRY_JUMBO_SHOPPER     2141
PARTY_BUNTING                    2122
LUNCH_BAG__BLACK_SKULL.          2117
                                 ...
NUMBER_TILE_VINTAGE_FONT,_7         1
NUMBER_TILE_VINTAGE_FONT,_6         1
NUMBER_TILE_VINTAGE_FONT,_5         1
NUMBER_TILE_VINTAGE_FONT,_4         1
PAPER_CRAFT_,_LITTLE_BIRDIE         1
Name: Description, Length: 3860, dtype: int64

In [319]:
# montre ou la colonnes quantity est inferieur a 0
df_clean[df_clean['Quantity'] <= 0]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer_ID, Country]
Index: []

In [320]:
# montre moi la colonne InvoiceDate sont type
df_clean.dtypes

Invoice         object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
Price          float64
Customer_ID    float64
Country         object
dtype: object

In [321]:
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'])

In [322]:
df_clean.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer_ID           float64
Country                object
dtype: object

In [323]:
# mainteant pour la colonne Price on va enlever les valeurs negatives
df_clean[df_clean['Price'] < 0]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer_ID, Country]
Index: []

In [324]:
# Pour la colonne Customer ID on va enlever les valeurs negatives
df_clean[df_clean['Customer_ID'] < 0]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer_ID, Country]
Index: []

In [325]:
# met le customer id en int
df_clean['Customer_ID'] = df_clean['Customer_ID'].astype(int)
df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
0,489434,85048,15CM_CHRISTMAS_GLASS_BALL_20_LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United_Kingdom
3,489434,22041,"RECORD_FRAME_7""_SINGLE_SIZE",48,2009-12-01 07:45:00,2.10,13085,United_Kingdom
4,489434,21232,STRAWBERRY_CERAMIC_TRINKET_BOX,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom
5,489434,22064,PINK_DOUGHNUT_TRINKET_POT,24,2009-12-01 07:45:00,1.65,13085,United_Kingdom
6,489434,21871,SAVE_THE_PLANET_MUG,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK_OF_20_SPACEBOY_NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
1067366,581587,22899,CHILDREN'S_APRON_DOLLY_GIRL,6,2011-12-09 12:50:00,2.10,12680,France
1067367,581587,23254,CHILDRENS_CUTLERY_DOLLY_GIRL,4,2011-12-09 12:50:00,4.15,12680,France
1067368,581587,23255,CHILDRENS_CUTLERY_CIRCUS_PARADE,4,2011-12-09 12:50:00,4.15,12680,France
1067369,581587,22138,BAKING_SET_9_PIECE_RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [326]:
# Pour le customer id vérifie sa taille et enleve les lignes qui font plus de 5 chiffres
df_clean = df_clean[df_clean['Customer_ID'].astype(str).str.len() <= 5]
# Pour le customer id vérifie sa taille et enleve les lignes qui font moins de 5 chiffres
df_clean = df_clean[df_clean['Customer_ID'].astype(str).str.len() >= 5]

df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
0,489434,85048,15CM_CHRISTMAS_GLASS_BALL_20_LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United_Kingdom
3,489434,22041,"RECORD_FRAME_7""_SINGLE_SIZE",48,2009-12-01 07:45:00,2.10,13085,United_Kingdom
4,489434,21232,STRAWBERRY_CERAMIC_TRINKET_BOX,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom
5,489434,22064,PINK_DOUGHNUT_TRINKET_POT,24,2009-12-01 07:45:00,1.65,13085,United_Kingdom
6,489434,21871,SAVE_THE_PLANET_MUG,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK_OF_20_SPACEBOY_NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
1067366,581587,22899,CHILDREN'S_APRON_DOLLY_GIRL,6,2011-12-09 12:50:00,2.10,12680,France
1067367,581587,23254,CHILDRENS_CUTLERY_DOLLY_GIRL,4,2011-12-09 12:50:00,4.15,12680,France
1067368,581587,23255,CHILDRENS_CUTLERY_CIRCUS_PARADE,4,2011-12-09 12:50:00,4.15,12680,France
1067369,581587,22138,BAKING_SET_9_PIECE_RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [327]:
# value counts de la colonne Country
df_clean['Country'].value_counts()

United_Kingdom          642490
Germany                  14766
EIRE                     13905
France                   12460
Netherlands               4669
Spain                     3255
Belgium                   2689
Switzerland               2678
Portugal                  2215
Australia                 1698
Channel_Islands           1455
Norway                    1322
Italy                     1306
Sweden                    1198
Cyprus                    1037
Finland                    828
Austria                    818
Denmark                    704
Greece                     574
Poland                     449
Japan                      447
Unspecified                446
USA                        367
United_Arab_Emirates       340
Singapore                  306
Israel                     293
Malta                      234
Iceland                    216
Canada                     197
Lithuania                  163
RSA                        108
Brazil                      76
Thailand                    56
European_Community          53
Bahrain                     49
Lebanon                     43
Korea                       42
West_Indies                 41
Nigeria                     25
Czech_Republic              21
Saudi_Arabia                 9
Name: Country, dtype: int64

In [328]:
# enleve les lignes de la colonne Country qui sont Unspecified
df_clean = df_clean[df_clean['Country'] != 'Unspecified']

In [329]:
df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
0,489434,85048,15CM_CHRISTMAS_GLASS_BALL_20_LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United_Kingdom
3,489434,22041,"RECORD_FRAME_7""_SINGLE_SIZE",48,2009-12-01 07:45:00,2.10,13085,United_Kingdom
4,489434,21232,STRAWBERRY_CERAMIC_TRINKET_BOX,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom
5,489434,22064,PINK_DOUGHNUT_TRINKET_POT,24,2009-12-01 07:45:00,1.65,13085,United_Kingdom
6,489434,21871,SAVE_THE_PLANET_MUG,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK_OF_20_SPACEBOY_NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
1067366,581587,22899,CHILDREN'S_APRON_DOLLY_GIRL,6,2011-12-09 12:50:00,2.10,12680,France
1067367,581587,23254,CHILDRENS_CUTLERY_DOLLY_GIRL,4,2011-12-09 12:50:00,4.15,12680,France
1067368,581587,23255,CHILDRENS_CUTLERY_CIRCUS_PARADE,4,2011-12-09 12:50:00,4.15,12680,France
1067369,581587,22138,BAKING_SET_9_PIECE_RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [330]:
# quantite suppier a 10000
df_clean[df_clean['Quantity'] > 44000]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
587080,541431,23166,MEDIUM_CERAMIC_TOP_STORAGE_JAR,74215,2011-01-18 10:01:00,1.04,12346,United_Kingdom
1065882,581483,23843,"PAPER_CRAFT_,_LITTLE_BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,United_Kingdom

In [332]:
df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
0,489434,85048,15CM_CHRISTMAS_GLASS_BALL_20_LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United_Kingdom
3,489434,22041,"RECORD_FRAME_7""_SINGLE_SIZE",48,2009-12-01 07:45:00,2.10,13085,United_Kingdom
4,489434,21232,STRAWBERRY_CERAMIC_TRINKET_BOX,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom
5,489434,22064,PINK_DOUGHNUT_TRINKET_POT,24,2009-12-01 07:45:00,1.65,13085,United_Kingdom
6,489434,21871,SAVE_THE_PLANET_MUG,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK_OF_20_SPACEBOY_NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
1067366,581587,22899,CHILDREN'S_APRON_DOLLY_GIRL,6,2011-12-09 12:50:00,2.10,12680,France
1067367,581587,23254,CHILDRENS_CUTLERY_DOLLY_GIRL,4,2011-12-09 12:50:00,4.15,12680,France
1067368,581587,23255,CHILDRENS_CUTLERY_CIRCUS_PARADE,4,2011-12-09 12:50:00,4.15,12680,France
1067369,581587,22138,BAKING_SET_9_PIECE_RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [331]:
# met le fichier df_clean en csv
df_clean.to_csv('../../data/df_analyse.csv', index=False)