In [360]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [361]:
df = pd.read_csv('../../data/df_rfm.csv')

df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country,TotalSales
0,489434,85048,15CM_CHRISTMAS_GLASS_BALL_20_LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United_Kingdom,83.40
1,489434,22041,"RECORD_FRAME_7""_SINGLE_SIZE",48,2009-12-01 07:45:00,2.10,13085,United_Kingdom,100.80
2,489434,21232,STRAWBERRY_CERAMIC_TRINKET_BOX,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom,30.00
3,489434,22064,PINK_DOUGHNUT_TRINKET_POT,24,2009-12-01 07:45:00,1.65,13085,United_Kingdom,39.60
4,489434,21871,SAVE_THE_PLANET_MUG,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom,30.00
...,...,...,...,...,...,...,...,...,...
713597,581587,22613,PACK_OF_20_SPACEBOY_NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
713598,581587,22899,CHILDREN'S_APRON_DOLLY_GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
713599,581587,23254,CHILDRENS_CUTLERY_DOLLY_GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
713600,581587,23255,CHILDRENS_CUTLERY_CIRCUS_PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
713601,581587,22138,BAKING_SET_9_PIECE_RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [362]:
# prend seulement les dates de 2009 et decembre 2010 separer le data frame en deu
df_2009_2010 = df[(df['InvoiceDate'] >= '2009-12-01') & (df['InvoiceDate'] < '2010-12-01')]
df_2011 = df[df['InvoiceDate'] >= '2010-12-01']

In [363]:
df_2009_2010

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country,TotalSales
0,489434,85048,15CM_CHRISTMAS_GLASS_BALL_20_LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United_Kingdom,83.4
1,489434,22041,"RECORD_FRAME_7""_SINGLE_SIZE",48,2009-12-01 07:45:00,2.10,13085,United_Kingdom,100.8
2,489434,21232,STRAWBERRY_CERAMIC_TRINKET_BOX,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom,30.0
3,489434,22064,PINK_DOUGHNUT_TRINKET_POT,24,2009-12-01 07:45:00,1.65,13085,United_Kingdom,39.6
4,489434,21871,SAVE_THE_PLANET_MUG,24,2009-12-01 07:45:00,1.25,13085,United_Kingdom,30.0
...,...,...,...,...,...,...,...,...,...
337794,536364,21175,GIN_+_TONIC_DIET_METAL_SIGN,12,2010-11-30 19:35:00,2.10,14441,United_Kingdom,25.2
337795,536364,21524,DOORMAT_SPOTTY_HOME_SWEET_HOME,2,2010-11-30 19:35:00,7.95,14441,United_Kingdom,15.9
337796,536364,21098,CHRISTMAS_TOILET_ROLL,12,2010-11-30 19:35:00,1.25,14441,United_Kingdom,15.0
337797,536364,21181,PLEASE_ONE_PERSON_METAL_SIGN,24,2010-11-30 19:35:00,2.10,14441,United_Kingdom,50.4
337798,536364,22415,WHITE_TISSUE_REAM,10,2010-11-30 19:35:00,7.95,14441,United_Kingdom,79.5

In [364]:
df_2011

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country,TotalSales
337799,536365,71053,WHITE_METAL_LANTERN,6,2010-12-01 08:26:00,3.39,17850,United_Kingdom,20.34
337800,536365,22752,SET_7_BABUSHKA_NESTING_BOXES,2,2010-12-01 08:26:00,7.65,17850,United_Kingdom,15.30
337801,536365,21730,GLASS_STAR_FROSTED_T-LIGHT_HOLDER,6,2010-12-01 08:26:00,4.25,17850,United_Kingdom,25.50
337802,536366,22633,HAND_WARMER_UNION_JACK,6,2010-12-01 08:28:00,1.85,17850,United_Kingdom,11.10
337803,536366,22632,HAND_WARMER_RED_POLKA_DOT,6,2010-12-01 08:28:00,1.85,17850,United_Kingdom,11.10
...,...,...,...,...,...,...,...,...,...
713597,581587,22613,PACK_OF_20_SPACEBOY_NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
713598,581587,22899,CHILDREN'S_APRON_DOLLY_GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
713599,581587,23254,CHILDRENS_CUTLERY_DOLLY_GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
713600,581587,23255,CHILDRENS_CUTLERY_CIRCUS_PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
713601,581587,22138,BAKING_SET_9_PIECE_RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [365]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score
import pandas as pd
from sklearn.preprocessing import StandardScaler

# S'assurer que InvoiceDate est au format datetime
df_2009_2010['InvoiceDate'] = pd.to_datetime(df_2009_2010['InvoiceDate'])
df_2011['InvoiceDate'] = pd.to_datetime(df_2011['InvoiceDate'])

# Définir la liste des décalages temporels
time_offsets = [
    pd.DateOffset(days=1),
    pd.DateOffset(days=15),
    pd.DateOffset(months=1),
    pd.DateOffset(months=2),
    pd.DateOffset(months=3),
    pd.DateOffset(months=4),
    pd.DateOffset(months=5),
    pd.DateOffset(months=6),
    pd.DateOffset(months=7),
    pd.DateOffset(months=8),
]

# Initialiser une liste pour stocker les valeurs de ARI
ari_values = []

# Définir les labels initiaux comme None
labels_prev = None

# Pour chaque décalage temporel...
for offset in time_offsets:
    # Ajouter les données du décalage à la dataframe 2009-2010
    offset_date = df_2011['InvoiceDate'].min() + offset
    df_2009_2010_extended = pd.concat([df_2009_2010, df_2011[df_2011['InvoiceDate'] <= offset_date]])

    # Calculer les valeurs RFM
    rfm = df_2009_2010_extended.groupby(['Customer_ID']).agg({
        'InvoiceDate': lambda x: (df_2009_2010_extended['InvoiceDate'].max() - x.max()).days,
        'Invoice': 'nunique',
        'TotalSales': 'sum'})

    # Normaliser les valeurs RFM
    scaler = StandardScaler()
    rfm_normalized = scaler.fit_transform(rfm)

    # Appliquer le clustering K-Means pour segmenter les clients
    kmeans = KMeans(n_clusters=3, random_state=42, n_init=10)
    kmeans.fit(rfm_normalized)
    rfm['Cluster'] = kmeans.labels_

    # Si ce n'est pas la première itération, calculer l'indice de Rand ajusté
    if labels_prev is not None:
        # Garder seulement les clients communs dans les deux itérations
        common_customers = set(rfm.index).intersection(set(labels_prev.index))
        labels_prev_common = labels_prev[labels_prev.index.isin(common_customers)]
        labels_common = rfm['Cluster'][rfm.index.isin(common_customers)]

        # Calculer l'indice de Rand ajusté
        ari = adjusted_rand_score(labels_prev_common, labels_common)
        ari_values.append(ari)

    # Mettre à jour les labels précédents pour la prochaine itération
    if labels_prev is None:
        labels_prev = rfm['Cluster'].copy()

# Créer un graphique en ligne des valeurs de ARI au fil du temps
time_offsets_str = ['1 Jour', '15 Jours', '1 Mois', '2 Mois', '3 Mois', '4 Mois', '5 Mois', '6 Mois', '7 Mois', '8 Mois']
ari_values.insert(0, 1)  # Ajouter 1 pour l'itération initiale
plt.figure(figsize=(10, 6))
plt.plot(time_offsets_str, ari_values, '-o')
plt.title('Indice de Rand Ajusté au fil du temps')
plt.xlabel('Décalage temporel')
plt.ylabel('Indice de Rand Ajusté')
plt.show()

/tmp/ipykernel_9290/1863173212.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2009_2010['InvoiceDate'] = pd.to_datetime(df_2009_2010['InvoiceDate'])
/tmp/ipykernel_9290/1863173212.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2011['InvoiceDate'] = pd.to_datetime(df_2011['InvoiceDate'])

KeyboardInterrupt:

In [ ]:
# met les ari value dans un tableau avec les dates
ari_values_df = pd.DataFrame(ari_values, columns=['ari_values'])

ari_values_df['time_offsets_str'] = time_offsets_str

ari_values_df

   ari_values time_offsets_str
0    1.000000           1 Jour
1    0.933054         15 Jours
2    0.918347           1 Mois
3    0.829287           2 Mois
4    0.729906           3 Mois
5    0.596747           4 Mois
6    0.269424           5 Mois
7    0.043280           6 Mois
8    0.049671           7 Mois
9    0.055974           8 Mois

In [ ]:
common_customers

{12346,
 12347,
 12348,
 12349,
 12350,
 12352,
 12353,
 12354,
 12355,
 12356,
 12357,
 12358,
 12359,
 12360,
 12361,
 12362,
 12365,
 12366,
 12368,
 12369,
 12370,
 12371,
 12372,
 12373,
 12374,
 12376,
 12377,
 12378,
 12379,
 12380,
 12383,
 12385,
 12386,
 12387,
 12388,
 12389,
 12391,
 12392,
 12393,
 12394,
 12395,
 12396,
 12399,
 12400,
 12401,
 12402,
 12406,
 12407,
 12408,
 12409,
 12410,
 12411,
 12412,
 12413,
 12414,
 12415,
 12416,
 12417,
 12418,
 12419,
 12421,
 12422,
 12423,
 12424,
 12425,
 12426,
 12427,
 12428,
 12429,
 12431,
 12432,
 12433,
 12434,
 12435,
 12437,
 12439,
 12440,
 12441,
 12443,
 12444,
 12445,
 12447,
 12449,
 12450,
 12451,
 12454,
 12455,
 12456,
 12457,
 12458,
 12459,
 12460,
 12462,
 12463,
 12464,
 12465,
 12467,
 12468,
 12469,
 12471,
 12472,
 12473,
 12474,
 12475,
 12476,
 12477,
 12480,
 12481,
 12482,
 12483,
 12484,
 12485,
 12486,
 12487,
 12489,
 12490,
 12492,
 12493,
 12494,
 12495,
 12496,
 12497,
 12499,
 12500,
 12501,
 12502,
 12504,
 12505,
 12506,
 12507,
 12509,
 12510,
 12511,
 12514,
 12515,
 12516,
 12517,
 12519,
 12520,
 12523,
 12524,
 12525,
 12527,
 12528,
 12529,
 12530,
 12531,
 12533,
 12535,
 12537,
 12538,
 12539,
 12540,
 12541,
 12542,
 12543,
 12545,
 12547,
 12548,
 12549,
 12551,
 12553,
 12554,
 12557,
 12559,
 12561,
 12562,
 12563,
 12564,
 12565,
 12567,
 12568,
 12569,
 12573,
 12574,
 12575,
 12576,
 12577,
 12578,
 12580,
 12582,
 12583,
 12584,
 12585,
 12586,
 12588,
 12589,
 12590,
 12591,
 12592,
 12593,
 12594,
 12595,
 12596,
 12597,
 12598,
 12599,
 12600,
 12601,
 12604,
 12605,
 12608,
 12609,
 12613,
 12614,
 12615,
 12616,
 12619,
 12620,
 12621,
 12622,
 12623,
 12624,
 12625,
 12626,
 12629,
 12631,
 12632,
 12633,
 12634,
 12635,
 12637,
 12638,
 12639,
 12643,
 12644,
 12645,
 12647,
 12648,
 12649,
 12651,
 12652,
 12653,
 12654,
 12655,
 12656,
 12661,
 12662,
 12663,
 12665,
 12666,
 12668,
 12669,
 12670,
 12671,
 12672,
 12673,
 12674,
 12675,
 12676,
 12677,
 12678,
 12679,
 12681,
 12682,
 12683,
 12684,
 12686,
 12687,
 12690,
 12691,
 12692,
 12693,
 12694,
 12695,
 12696,
 12697,
 12698,
 12699,
 12700,
 12701,
 12703,
 12704,
 12705,
 12707,
 12708,
 12709,
 12710,
 12711,
 12712,
 12714,
 12717,
 12720,
 12721,
 12724,
 12725,
 12726,
 12727,
 12728,
 12730,
 12731,
 12732,
 12733,
 12734,
 12735,
 12736,
 12738,
 12739,
 12741,
 12742,
 12744,
 12745,
 12746,
 12747,
 12748,
 12749,
 12751,
 12753,
 12754,
 12755,
 12757,
 12758,
 12759,
 12760,
 12761,
 12763,
 12764,
 12765,
 12766,
 12767,
 12768,
 12769,
 12770,
 12771,
 12773,
 12774,
 12775,
 12776,
 12777,
 12778,
 12779,
 12780,
 12781,
 12782,
 12784,
 12785,
 12786,
 12787,
 12788,
 12789,
 12790,
 12791,
 12792,
 12793,
 12796,
 12797,
 12798,
 12799,
 12800,
 12801,
 12802,
 12803,
 12804,
 12805,
 12806,
 12807,
 12808,
 12809,
 12810,
 12811,
 12813,
 12815,
 12816,
 12817,
 12818,
 12819,
 12820,
 12821,
 12823,
 12825,
 12826,
 12829,
 12830,
 12831,
 12834,
 12835,
 12836,
 12837,
 12838,
 12839,
 12840,
 12841,
 12842,
 12843,
 12844,
 12845,
 12847,
 12848,
 12849,
 12850,
 12851,
 12852,
 12853,
 12854,
 12855,
 12857,
 12858,
 12859,
 12860,
 12861,
 12862,
 12863,
 12864,
 12865,
 12866,
 12867,
 12868,
 12869,
 12870,
 12871,
 12872,
 12873,
 12874,
 12875,
 12876,
 12877,
 12878,
 12880,
 12881,
 12886,
 12887,
 12888,
 12889,
 12890,
 12891,
 12892,
 12894,
 12897,
 12898,
 12899,
 12900,
 12901,
 12902,
 12903,
 12904,
 12905,
 12907,
 12908,
 12909,
 12910,
 12911,
 12913,
 12914,
 12915,
 12916,
 12917,
 12919,
 12920,
 12921,
 12923,
 12924,
 12925,
 12926,
 12927,
 12928,
 12929,
 12930,
 12931,
 12932,
 12933,
 12934,
 12935,
 12937,
 12939,
 12941,
 12942,
 12943,
 12944,
 12945,
 12946,
 12947,
 12948,
 12949,
 12951,
 12953,
 12954,
 12955,
 12956,
 12957,
 12958,
 12959,
 12960,
 12961,
 12963,
 12964,
 12967,
 12969,
 12970,
 12971,
 12972,
 12973,
 12974,
 12975,
 12976,
 12977,
 12978,
 12979,
 12980,
 12982,
 12983,
 12986,
 12987,
 12988,
 12989,
 12990,
 12991,
 12992,
 12993,
 12994,
 12996,
 12997,
 12998,
 12999,
 13000,
 13001,
 13002,
 13003,
 13004,
 13005,
 13007,
 13008,
 13009,
 13010,
 13011,
 13012,
 13013,
 13014,
 13015,
 13018,
 13019,
 13020,
 13021,
 13022,
 13023,
 13024,
 13025,
 13026,
 13027,
 13029,
 13030,
 13031,
 13032,
 13033,
 13034,
 13035,
 13036,
 13037,
 13038,
 13039,
 13041,
 13042,
 13043,
 13044,
 13045,
 13046,
 13047,
 13048,
 13049,
 13050,
 13051,
 13052,
 13053,
 13055,
 13056,
 13057,
 13059,
 13060,
 13062,
 13063,
 13064,
 13065,
 13067,
 13069,
 13070,
 13071,
 13072,
 13073,
 13074,
 13076,
 13077,
 13078,
 13079,
 13080,
 13081,
 13082,
 13083,
 13085,
 13086,
 13087,
 13088,
 13089,
 13090,
 13091,
 13092,
 13093,
 13094,
 13096,
 13097,
 13098,
 13101,
 13102,
 13103,
 13104,
 13105,
 13106,
 13107,
 13108,
 13109,
 13110,
 13111,
 13112,
 13113,
 13114,
 13115,
 13117,
 13118,
 13119,
 13120,
 13121,
 13122,
 13123,
 13124,
 13125,
 13126,
 13128,
 13129,
 13131,
 13132,
 13133,
 13134,
 13135,
 13136,
 13137,
 13138,
 13139,
 13140,
 13141,
 13143,
 13144,
 13145,
 13148,
 13149,
 13150,
 13151,
 13152,
 13154,
 13155,
 13156,
 13157,
 13158,
 13161,
 13162,
 13163,
 13164,
 13165,
 13166,
 13167,
 13168,
 13169,
 13171,
 13172,
 13173,
 13174,
 13175,
 13177,
 13178,
 13179,
 13180,
 13181,
 13183,
 13184,
 13185,
 13187,
 13190,
 13191,
 13192,
 13194,
 13195,
 13196,
 13197,
 13198,
 13199,
 13201,
 13202,
 13203,
 13204,
 13205,
 13206,
 13207,
 13208,
 13209,
 13211,
 13213,
 13214,
 13216,
 13217,
 13219,
 13220,
 13221,
 13222,
 13223,
 13225,
 13226,
 13227,
 13229,
 13230,
 13232,
 13233,
 13234,
 13235,
 13237,
 13238,
 13239,
 13240,
 13241,
 13242,
 13243,
 13245,
 13246,
 13248,
 13249,
 13250,
 13251,
 13252,
 13253,
 13254,
 13255,
 13257,
 13258,
 13259,
 13261,
 13262,
 13263,
 13264,
 13265,
 13266,
 13267,
 13268,
 13269,
 13270,
 13274,
 13275,
 13276,
 13277,
 13278,
 13280,
 13281,
 13282,
 13283,
 13284,
 13285,
 13286,
 13287,
 13288,
 13289,
 13291,
 13292,
 13293,
 13294,
 13295,
 13296,
 13297,
 13299,
 13300,
 13301,
 13302,
 13303,
 13304,
 13305,
 13306,
 13307,
 13308,
 13309,
 13310,
 13312,
 13313,
 13315,
 13316,
 13317,
 13319,
 13320,
 13324,
 13326,
 13327,
 13328,
 13329,
 13330,
 13331,
 13333,
 13334,
 13337,
 13338,
 13339,
 13340,
 13341,
 13343,
 13344,
 13345,
 13346,
 13357,
 13358,
 13359,
 13360,
 13361,
 13362,
 13363,
 13365,
 13367,
 13368,
 13369,
 13370,
 13371,
 13373,
 13374,
 13375,
 13376,
 13377,
 13380,
 13381,
 13382,
 13383,
 13384,
 13385,
 13386,
 13387,
 13388,
 13389,
 13391,
 13392,
 13393,
 13394,
 13395,
 13396,
 13397,
 13398,
 13399,
 13400,
 13402,
 13403,
 13404,
 13405,
 13406,
 13407,
 13408,
 13410,
 13412,
 13413,
 13414,
 13415,
 13416,
 13417,
 13418,
 13420,
 13421,
 13423,
 13424,
 13425,
 13426,
 13427,
 13428,
 13431,
 13432,
 13433,
 13434,
 13435,
 13437,
 13438,
 13439,
 13440,
 13441,
 13442,
 13443,
 13444,
 13445,
 13446,
 13448,
 13450,
 13451,
 13452,
 13453,
 13454,
 13455,
 13456,
 13457,
 13458,
 13459,
 13461,
 13462,
 13464,
 13465,
 13466,
 13468,
 13469,
 13472,
 13473,
 13474,
 13475,
 13476,
 13477,
 13478,
 13479,
 13480,
 13481,
 13482,
 13484,
 13485,
 13487,
 13488,
 13489,
 13490,
 13491,
 13492,
 13493,
 13494,
 13495,
 13496,
 13497,
 13498,
 13499,
 13500,
 13501,
 13502,
 13503,
 13505,
 13506,
 13508,
 13509,
 13510,
 13511,
 13512,
 13513,
 13514,
 13515,
 13516,
 13517,
 13519,
 13520,
 13523,
 13524,
 13525,
 13526,
 13527,
 13529,
 13530,
 13531,
 13533,
 13534,
 13535,
 13537,
 13538,
 13539,
 13540,
 13541,
 13542,
 13543,
 13544,
 13545,
 13546,
 13547,
 13548,
 13549,
 13550,
 13551,
 13552,
 13553,
 13554,
 13555,
 13556,
 13557,
 13559,
 13561,
 13562,
 13564,
 13565,
 13566,
 13567,
 13568,
 13569,
 13570,
 13571,
 13572,
 13573,
 13574,
 13575,
 13576,
 13577,
 13578,
 13579,
 13580,
 13581,
 13582,
 13583,
 13584,
 13585,
 13586,
 13587,
 13588,
 13589,
 13590,
 13591,
 ...}